body {
	margin: 0px;
	background: #000000;
	color: #ffffff;
}
.container {
	width: 1160px;
	margin: 0px auto;
	position: relative;
}
#header {
	width: 100%;
	height: 200px;
}
#header #logo {
	position: absolute;
	top: 42px;
	left: 0px;
}
#header ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: absolute;
	top: 70px;
	right: 0px;
}
#header ul li {
	float: left;
	margin-left: 20px;
}
#header ul li a {
	font-family: 'brandon_grotesquebold_italic';
	font-size: 26px;
	line-height: 26px;
	color: #ffffff;
	text-decoration: none;
}
#header ul li a:hover {
	opacity: 0.8;
}
#home_video {
	width: 100%;
	position: relative;
}
#home_btn_play {
	border: none;
	cursor: pointer;
	padding: 0px;
	width: 193px;
	height: 179px;
	background: url('../img/home_video_play.png') no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -86.5px;
	margin-left: -96.5px;
}
#home_video_text {
	position: relative;
}
#home_video_text .container {
	margin-top: 52px;
	padding-top: 32px;
	border-top: 5px solid #ffffff;
	display: none;
}
#home_video_text .text_left {
	display: inline-block;
	width: 760px;
	vertical-align: top;
}
#home_video_text .text_right {
	display: inline-block;
	width: 340px;
	vertical-align: top;
	padding-left: 56px;
}
#home_video_text h2 {
	font-family: 'brandon_grotesquebold_italic';
	font-size: 26px;
	margin: 0px;
}
#home_video_text p {
	font-family: 'brandon_grotesqueRgIt';
	font-size: 18px;
	line-height: 25px;
	margin: 5px 0px 0px;
}
#home_video_text ul {
	font-family: 'brandon_grotesqueRgIt';
	font-size: 18px;
	line-height: 32px;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#home_video_text button {
	border: none;
	cursor: pointer;
	padding: 0px;
	width: 65px;
	height: 19px;
	background: url('../img/home_text_arrow.png') no-repeat center bottom;
	position: absolute;
	bottom: -45px;
	left: 50%;
	margin-left: -32.5px;
	z-index: 10;
}
#home_video_text button.open {
	background-position: center top;
}
#home_video_text button:hover {
	opacity: 0.8;
}
#footer {
	font-family: 'brandon_grotesquebold_italic';
	font-size: 20px;
	line-height: 70px;
	height: 70px;
}